@model OrderDetailsViewModel
@{
    ViewData["Title"] = "Delete Order";
}

<div class="fade-in">
    <h2 class="bounce">Are you sure you want to delete this order?</h2>

    <div class="card main-card">
        <div class="card-body">
            <h5 class="card-title"><label asp-for="UserFullName"></label>: <span class="card-subtitle mb-2 text-muted">@Model.UserFullName</span></h5>
            <h5 class="card-title"><label asp-for="Location"></label>: <span class="card-subtitle mb-2 text-muted">@Model.Location</span></h5>
            <h5 class="card-title"><label asp-for="PaymentMethod"></label>: <span class="card-subtitle mb-2 text-muted">@Model.PaymentMethod</span></h5>
        </div>
    </div>

    <br />
    <h4>Pizza List:</h4>
    <div class="row">
        @if (Model.PizzaNames != null && Model.PizzaNames.Any())
        {
            @foreach (var group in Model.PizzaNames.GroupBy(x => x))
            {
                <div class="card pizza-list-card">
                    <div class="card-body text-center justify-content-center">
                        <span>@group.Key - @group.Count()</span>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No pizzas added to this order!</p>
        }
    </div>

    <br />
    <div>
        <h4 class="card-title"><label asp-for="IsDelivered"></label>:</h4>
        <strong class="@(Model.IsDelivered ? "fas fa-check-circle text-success" : "fas fa-times-circle text-danger")">
            @(Model.IsDelivered ? "This order has been delivered!" : "This order has not been delivered!")
        </strong>
    </div>

    <hr />
    <form asp-action="Delete" method="post" class="d-flex justify-content-center">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger btn-lg mx-2 w-25">Delete</button>
        <a asp-action="Index" class="btn btn-success btn-lg mx-2 w-25">Cancel</a>
    </form>
</div>