@model OrderDetailsViewModel
@{
    ViewData["Title"] = "Order Details";
}

<div class="fade-in">
    <h2 class="bounce">@ViewData["Title"]:</h2>

    <div class="card main-card">
        <div class="card-body">
            <h5 class="card-title"><label asp-for="UserFullName"></label>: <span class="card-subtitle mb-2 text-muted">@Model.UserFullName</span></h5>
            <h5 class="card-title"><label asp-for="Location"></label>: <span class="card-subtitle mb-2 text-muted">@Model.Location</span></h5>
            <h5 class="card-title"><label asp-for="PaymentMethod"></label>: <span class="card-subtitle mb-2 text-muted">@Model.PaymentMethod</span></h5>
        </div>
    </div>

    <br />
    <h4>Pizza List:</h4>
    <div class="row">
        @if (Model.PizzaNames != null && Model.PizzaSizes != null && Model.PizzaNames.Any())
        {
            var groupedPizzas = Model.PizzaNames
            .Select((name, index) => new { Name = name, Size = Model.PizzaSizes[index] })
            .GroupBy(pizza => new { pizza.Name, pizza.Size });

            @foreach (var group in groupedPizzas)
            {
                <div class="card pizza-list-card details-list-card">
                    <img class="card-img-top" src="~/images/default-pizza.webp" alt="Pizza">
                    <div class="card-body text-center justify-content-center">
                        <span>@($"{group.Key.Name} ({group.Key.Size})") - @group.Count()</span>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No pizzas added to this order!</p>
        }
    </div>

    <br />
    <div>
        <h4 class="card-title"><label asp-for="IsDelivered"></label>:</h4>
        <strong class="@(Model.IsDelivered ? "fas fa-check-circle text-success" : "fas fa-times-circle text-danger")">
            @(Model.IsDelivered ? "This order has been delivered!" : "This order has not been delivered!")
        </strong>
    </div>

    <hr />
    <a asp-action="Index" class="btn btn-outline-dark btn-lg">Go Back To Orders</a>
</div>