@model List<OrderListViewModel>
@{
    ViewData["Title"] = "Orders";
}

<div class="fade-in">
    <div class="text-center bounce-in">
        <a asp-action="Create" asp-controller="Order" class="btn btn-outline-success">Create new order</a>
        <h2 class="display-5">Order List:</h2>
    </div>
</div>

<br />
<div class="row d-flex justify-content-center fade-in">
    @foreach (var order in @Model)
    {
        <div class="card order-card @((order.IsDelivered ? "bg-success" : "bg-danger"))">
            <div class="card-header text-center">
                <span>
                    @if (order.IsDelivered)
                    {
                        <span class="text-success">This order has been delivered!</span>
                    }
                    else
                    {
                        <span class="text-danger">This order has not been delivered!</span>
                    }
                </span>
            </div>

            <div class="card-body">
                <div class="order-info">
                    <strong>Order To:</strong>
                    <span>@order.UserFullName</span>
                </div>

                <hr class="border-top border-4" />

                <strong>Pizza List:</strong>
                @if (order.PizzaNames != null && order.PizzaNames.Count > 0)
                {
                    <ul class="pizza-list">
                        @foreach (var group in order.PizzaNames.GroupBy(x => x))
                        {
                            <li>@group.Key - @group.Count()</li>
                        }
                    </ul>
                }
                else
                {
                    <span>N/A</span>
                }
            </div>

            <div class="text-center">
                <a asp-controller="Order" asp-action="Details" asp-route-id="@order.Id" class="details-link">See Details</a>
                <a asp-controller="Order" asp-action="Edit" asp-route-id="@order.Id" class="edit-link">Edit Order</a>
                <a asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id" class="delete-link">Delete Order</a>
            </div>
        </div>
    }
</div>